.form {
  margin: 1rem 0;
  height: 15rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.6rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.1rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1rem;
}

.actions button {
  font: inherit;
  color: #0c9248;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #0c9248;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
}

.actions button:hover,
.actions button:active {
  background-color: #dcffe9;
}

.actions .submit {
  border: 1px solid #0c9248;
  background-color: #0c9248;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #014d28;
  border-color: #014d28;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.invalid p {
  color: #ca3e51;
  font-size: 0.85rem;
  margin-top: 4px;
  margin-bottom: 0px;
}